

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(46, 46, 46);
    overflow-x: hidden;
    font-family: "JetBrains Mono", monospace;
    scrollbar-color: red grey;
}

header.abajo{
    background-color: rgb(104, 2, 2);
    transition: 2s;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.header{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    background-color: transparent;
    align-items: center;
    width: 100%;
    text-decoration: none;
    position: fixed;
    z-index: 10;
}

header .logo{
    cursor: pointer;
   margin-right: auto;
}

header .logo img{
    height: 90px;
    width: auto;
    transition: all 0.3s;
}

header .logo img:hover{
    transform: scale(1.1);
}

header .links{
    list-style: none;
}

header .links li{
    display: inline-block;
    padding: 20px;
}

header .links li:hover{
    transform: scale(1.1);
}


header .links a{
    font-size: 900;
    color: azure;
    text-decoration: none;
}

header .links li a:hover{
    color: red;
}

.header .btn button{
    font-weight: 600;
    color: #000000;
    background: #fff;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.header .btn button:hover{
    background-color: firebrick;
    color: darkgray;
    transform: scale(1.1);
}

.header .btn2 button{
    font-weight: 600;
    color: #000000;
    background: #fff;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.header .btn2 button:hover{
    background-color: firebrick;
    color: darkgray;
    transform: scale(1.1);
}

.cod{
    background-image: url(img/COD.jpg);
    width: 25%;
    height: 45%;
    position: relative;
    top: 25%;
    left: 65%;
    background-size: cover;
    border-radius: 10%;
    font-size: 20px;

}

.price{
    background-color: red;
    color: white;
    display: flex;
    width: 18%;
    height: 10%;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    top: 1.8%;
    left: 76%;
}

.oferta{
    background-color: #fff;
    color: red;
    display: flex;
    width: 7%;
    height: 10%;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    left: 62%;
    top: 16%;
    font-size: 2.5rem;
}

.txt{
    color: #fff;
    top: 30%;
    left: 8%;
    position: absolute;

}

.txt ul li{
    text-decoration: none;
}

.txt ul{
    list-style: none;
}

.input{
    top: 2%;
    left: 10%;
    position: relative;
}

.search{
    border-radius: 50px;
    height: 2.5rem;
    width: 19rem;
    border: 3px solid #000000;
}

.submit{
    padding: 1rem;
    border-radius: 50px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;

}

.submit:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000000;
}
.centered{
    color: black;
    text-align: center;
}



.menu1{
    top: 0%;
    background-image: url(img/Background.jpg);
    background-size: cover;
    height: 60rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    z-index: 0;
}

.menu2{
|   top: 0%;
    background-image: url(img/Background.jpg);
    background-size: cover;
    height: 25rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    z-index: 0;
    align-items: center;
    justify-content: center;
}

.fall1{
    position: absolute;
    font-size: 55px;
    left: 40%;
    top: 20%;
    color: #ffffff;
    z-index: 1;
}

.fall2{
    position: absolute;
    font-size: 15px;
    left: 43%;
    top: 36%;
    color: #fff;
    z-index: 1;
}

.fall3{
    position: absolute;
    font-size: 55px;
    left: 40%;
    top: 20%;
    color: #ffffff;
    z-index: 1;
}

.fall4{
    position: absolute;
    font-size: 15px;
    left: 44.5%;
    top: 36%;
    color: #fff;
    z-index: 1;
}

.fall5{
    position: absolute;
    font-size: 15px;
    left: 45.5%;
    top: 36%;
    color: #fff;
    z-index: 1;
}

.bar{
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 1;
    margin: 3rem;
    top: 99%;
    left: 4%;

}

.bar1,
.bar2,
.bar3,
.bar4{
    background-color: white;
    height: 12rem;
    width: 15rem;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.bar1,
.bar2,
.bar3,
.bar4:hover {
    cursor: pointer;
}

.b1{
    margin-top: 30px;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    background: brown;
    background-image: url(icons/download.png);
    background-size: cover;
    border-radius: 50px;

}
.b2{
    margin-top: 30px;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    background: brown;
    background-image: url(icons/user.png);
    background-size: cover;
    border-radius: 50px;

}
.b3{
    margin-top: 30px;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    background: brown;
    background-image: url(icons/reply.png);
    background-size: cover;
    border-radius: 50px;

}
.b4{
    margin-top: 30px;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    background: brown;
    background-image: url(icons/layout.png);
    background-size: cover;
    border-radius: 50px;

}

.b1:hover{
    background-color: cyan;
}

.b2:hover{
    background-color: cyan;
}

.b3:hover{
    background-color: cyan;
}

.b4:hover{
    background-color: cyan;
}



.trending-g{
    position: relative;
    justify-content: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin: 2rem;
    font-size: 15px;
    z-index: 0;
    padding: 2rem;
}

.top-g{
    position: relative;
    justify-content: start;
    display: grid;
    padding: 3 rem;
    padding-left: 1rem;
    border-radius: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    margin: 2rem;
    font-size: 15px;
    background-color: dimgrey;
}

.juego1 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}

.j-img1{
    position: relative;
    border-radius: 25px;
    background-image: url(img/HK.jpg);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}

.buy{
    position: relative;
    bottom: 20px;
    left: 11rem;
    background-color: black;
    background-image: url(icons/bag.png);
    background-size: cover;
    color: white;
    width: 25px;
    height: 25px;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
}

.buy:hover{
    background-color: grey;
}

.j-price1{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}

.view{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 80%;
    bottom: 75px;
    width: 200px;
    height: 50px;
    background-color: rgb(15, 15, 15);
    padding: 0.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.view:hover{
    background-color: indianred;
}

.view a{
    text-decoration: none;
    color: #fff;
}

.juego2 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}

.j-img2{
    position: relative;
    border-radius: 25px;
    background-image: url(img/elden.jpg);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}

.j-price2{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}

.juego3 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}

.j-img3{
    position: relative;
    border-radius: 25px;
    background-image: url(img/DOOM.jpg);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}

.j-price3{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}

.juego4 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}

.j-img4{
    position: relative;
    border-radius: 25px;
    background-image: url(img/HALO.jpg);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}


.j-price4{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}

.juego5 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}

.j-img5{
    position: relative;
    border-radius: 25px;
    background-image: url(img/STAR.webp);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}


.j-price5{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}

.juego6 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}
.juego7 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}
.juego8 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}
.juego9 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}
.juego10 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}
.juego11 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}
.juego12 {
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: left;
    width: 15rem;
    flex-direction: column;

}

.j-img6{
    position: relative;
    border-radius: 25px;
    background-image: url(img/FOREST.jpg);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}
.j-img7{
    position: relative;
    border-radius: 25px;
    background-image: url(img/DOOME.jpg);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}
.j-img8{
    position: relative;
    border-radius: 25px;
    background-image: url(img/spi.avif);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}
.j-img9{
    position: relative;
    border-radius: 25px;
    background-image: url(img/SONSFOREST.webp);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}
.j-img10{
    position: relative;
    border-radius: 25px;
    background-image: url(img/fnaf.webp);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}
.j-img11{
    position: relative;
    border-radius: 25px;
    background-image: url(img/nier.jpg);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}
.j-img12{
    position: relative;
    border-radius: 25px;
    background-image: url(img/dangan.jpg);
    background-size: cover;
    width: 15rem;
    height: 20rem;
}


.j-price2{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}
.j-price3{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}
.j-price4{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}
.j-price5{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}

.j-price6{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}
.j-price7{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}
.j-price8{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}
.j-price9{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}
.j-price10{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}
.j-price11{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}
.j-price12{
    position: relative;
    left: 150px;
    top: 8px;
    width: 3rem;
    height: 1rem;
    padding: 1rem;
    color: #ffffff;
    background-color: rgb(253, 0, 0);
    border-radius: 20px;
    bottom: top;
    font-size: 15px;
}

.down{
    width:100%;
    height: 60rem;
    align-items: center;

}

.mine{
    background-image: url(img/minecraft.webp);
    width: 30rem;
    height: 36rem;
    display: flex;
    position: absolute;
    background-size: cover;
    border-radius: 10%;
    left: 30%;
    top: 220rem;
    z-index: 1;
}

.our{
    position: absolute;
    background-color: rgb(150, 110, 110);
    width: 30rem;
    height: 36rem;
    border-radius: 25px;
    left: 9%;
    top: 226rem;
    z-index: 2;
}
.ourt{
    font-size: 1.6rem;
    color: rgb(201, 221, 221);
}

.sn{
    position: relative;
    padding: 2rem;
    background-color:rgb(15, 226, 226);
    width: 4rem;
    height: 1rem;
    left: 1rem;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
}

.sn:hover{
    cursor: pointer;
    background-color: rgb(110, 148, 231);
}

.sn a{
    text-decoration: none;
}

.new{
    position: absolute;
    background-color:rgb(221, 206, 206);
    width: 30rem;
    height: 26rem;
    left: 48rem;
    top: 228rem;
    border-radius: 25px;
    z-index: 2;
}

.newt{
    margin: 1rem;
    font-size: 1.4rem;
    color: rgb(70, 6, 6);
}

.mail{
    position: relative;
    left: 4%;
    height: 2rem;
    border-radius: 50px;
    border: none;
    z-index: 1;
}

.submit2{
    padding: 11px;
    border-radius: 50px;
    background-color: #921313;
    border: none;
    z-index: 3;
    color: #fff;
}

.submit2:hover{
    cursor: pointer;
    background-color: crimson;
}

.textp{
    position: absolute;
    top: 76%;
    left: 50%;
    background-color: transparent;
    width: 34rem;
}

.fallh2{
    font-size: 30px;
    color: #fff;
}

.fall-price{
    color: #c41212;
}

.desc{
    color: #fff;
}

.f-img{
    position: relative;
    width: 29rem;
    height: 29rem;
    background-image: url(img/Fallout.webp);
    background-size: cover;
    border-radius: 10%;
    border-color: #000000;
    left: 10%;
    top: 16rem;
    z-index: 1;
}


.cart2{
    position: relative;
    width: 10rem;
    height: 3rem;
    background-color: #921313;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    top: 3%;
}

.cart2:hover{
    cursor: pointer;
    background-color: #8f0646;
}

.number{
    width: 3rem;
    height: 3rem;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

.bag2{
    width: 40px;
    height: 40px;
}
.cartext{
    align-items: center;
    justify-content: center;
    color: #fff;
}

.cart1{
    position: absolute;
    width: 35rem;
    height: 15rem;
    z-index: 3;
    top: 62rem;
    left: 50%;
}

.id{
    position: relative;
    color: #fff;
    font-size: 15px;
    background-color:transparent;
    width: max-content;

}

.mmi{
    position: relative;
    color: blue;
    font-size: 15px;
    background-color:transparent;
    width: max-content;
    left: 16%;
    bottom: 81%;


}

.p3{
    position: absolute;
    width: 100%;
    height: 500px;
    top: 85rem;
}

.coments{
    position: relative;
    width: 70%;
    height: 25rem;
    left: 13.5%;
    background-color: rgb(66, 67, 68);
    border-radius: 20px;
    padding: 2rem;
}

.rev1{
    position: relative;
    margin: 1rem;
    color: #fff;
    width: max-content;
    height: max-content;
    padding: 10px;

}

.rev2{
    position: relative;
    margin: 1rem;
    color: #fff;
    padding: 1rem;
    font-size: 18px;
}

.action-games{
    position: absolute;
    top: 120rem;
    padding: 3rem;
    left: 3rem;
}

.show{
    background-color: #c41212;
    color: #fff;
    width: max-content;
    height: max-content;
    padding: 1rem;
    border-radius: 50px;
    font-weight: bold;
}
.adventure{
    background-color: aliceblue;
    width: max-content;
    height: max-content;
    padding: 1rem;
    border-radius: 50px;
    font-weight: bold;
}
.strategy{
    background-color: aliceblue;
    width: max-content;
    height: max-content;
    padding: 1rem;
    border-radius: 50px;
    font-weight: bold;
}
.racing{
    background-color: aliceblue;
    width: max-content;
    height: max-content;
    padding: 1rem;
    border-radius: 50px;
    font-weight: bold;
}

.show:hover,
.adventure:hover,
.strategy:hover,
.racing:hover{
    cursor: pointer;
    background-color: #921313;
}

.t-bar{ 
    display: flex; 
    margin: 50px; 
    padding: 10px; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
}
.num1{
    padding: 3rem;
    display: grid;
    position: relative;
    width: max-content;
    left: 32%;
    height: 0%;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.i0{
    width: 3rem;
    height: 3rem;
    position: relative;
    display: flex;
    background-color: #727272;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #fff;
}
.i1{
    width: 3rem;
    height: 3rem;
    position: relative;
    display: flex;
    background-color: #727272;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #fff;
}
.i2{
    width: 3rem;
    height: 3rem;
    position: relative;
    display: flex;
    background-color: #ec1818;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #fff;
}
.i3{
    width: 3rem;
    height: 3rem;
    position: relative;
    display: flex;
    background-color: #727272;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #fff;
}
.i4{
    width: 3rem;
    height: 3rem;
    position: relative;
    display: flex;
    background-color: #727272;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #fff;
}
.i5{
    width: 3rem;
    height: 3rem;
    position: relative;
    display: flex;
    background-color: #727272;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #fff;
}

.i0:hover,
.i1:hover,
.i2:hover,
.i3:hover,
.i4:hover,
.i5:hover{
    cursor: pointer;
    background-color: #ec1818;
}

.contact{
    width: 100%;
    height: 60rem;
}

.ct{
    position: relative;
    width: 30rem;
    background-color: #ffffff;
    height: max-content;
    padding: 1rem;
    font-size: 15px;
    border-radius: 50px;
    top: 17%;
    left: 10%;

}


iframe{
    position: absolute;
    width: 490px;
    height: 350px;
    left: 48rem;
    top: 70%;
    border-radius: 30px;
}

.d1{
    position: absolute;
    width: 12rem;
    left: 56%;
    top: 60rem;
    border-radius: 20px;
    padding: 15px;
    border: 3px solid #000000;
}
.d2{
    position: absolute;
    width: 12rem;
    left: 75%;
    top: 60rem;
    border-radius: 20px;
    padding: 15px;
    border: 3px solid #000000;
}

.d3{
    position: absolute;
    width: 12rem;
    left: 56%;
    top: 65rem;
    border-radius: 20px;
    padding: 15px;
    border: 3px solid #000000;
}

.d4{
    position: absolute;
    width: 12rem;
    left: 75%;
    top: 65rem;
    border-radius: 20px;
    padding: 15px;
    border: 3px solid #000000;
}

.d5{
    position: absolute;
    height: 6rem;
    width: 28.5rem;
    left: 56%;
    top: 70rem;
    border-radius: 20px;
    padding: 15px;
    border: 3px solid #000000;
}

.d6{
    position: absolute;
    width: 11rem;
    left: 56%;
    top: 79rem;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    background-color: #c41212;
    border: none;
    color: #fff;
}
.d6:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
}

footer{
    margin-top: 7rem;
    justify-content: center;
    align-items: center;
    top: 90%;
    display: flex;
    color: white;
    background-image: url(img/banner.png);
    height: 9rem;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.footer{
    position: absolute;
    margin-top: 7rem;
    justify-content: center;
    align-items: center;
    top: 90%;
    display: flex;
    width: 100%;
    color: white;
    background-image: url(img/banner.png);
    height: 9rem;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    top: 180rem;
}