body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(46, 46, 46);
}


.header{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    background-color: transparent;
    align-items: center;
    width: 99%;
    text-decoration: none;
    position: fixed;
}

header .logo{
    cursor: pointer;
   margin-right: auto;
}

header .logo img{
    height: 90px;
    width: auto;
    transition: all 0.3s;
}

header .logo img:hover{
    transform: scale(1.1);
}

header .links{
    list-style: none;
}

header .links li{
    display: inline-block;
    padding: 20px;
}

header .links li:hover{
    transform: scale(1.1);
}


header .links a{
    font-size: 900;
    color: azure;
    text-decoration: none;
}

header .links li a:hover{
    color: red;
}

.header .btn button{
    font-weight: 600;
    color: #000000;
    background: #fff;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.header .btn button:hover{
    background-color: firebrick;
    color: darkgray;
    transform: scale(1.1);
}

.header .btn2 button{
    font-weight: 600;
    color: #000000;
    background: #fff;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

.header .btn2 button:hover{
    background-color: firebrick;
    color: darkgray;
    transform: scale(1.1);
}

.cod{
    background-image: url(img/COD.jpg);
    width: 25%;
    height: 45%;
    position: relative;
    top: 25%;
    left: 65%;
    background-size: cover;
    border-radius: 10%;
    font-size: 20px;

}

.price{
    background-color: red;
    color: white;
    display: flex;
    width: 18%;
    height: 10%;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    top: 1.8%;
    left: 76%;
}

.oferta{
    background-color: #fff;
    color: red;
    display: flex;
    width: 7%;
    height: 10%;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    left: 62%;
    top: 16%;
    font-size: 2.5rem;
}

.txt{
    color: #fff;
    top: 30%;
    left: 8%;
    position: absolute;

}

.txt ul li{
    text-decoration: none;
}

.txt ul{
    list-style: none;
}

.input{
    top: 2%;
    left: 10%;
    position: relative;
}

.search{
    background-color: #921313;
    border-radius: 50px;
    height: 8%;

}

.submit{

}
.centered{
    color: black;
    text-align: center;
}



.menu1{
    top: 0%;
    background-image: url(img/Background.jpg);
    background-size: cover;
    height: 60rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    z-index: ;
}

